$COLOR_ERROR: #f00000;
$COLOR_FOCUS: #FFC107;
$COLOR_MAIN: #5A0FC8;

$COLOR_ACTIVE: hsl(231, 50%, 90%);
$COLOR_INACTIVE: hsl(231, 0%, 90%);
$COLOR_ASIDE_TEXT: #999999;

$DROP_SHADOW: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12);
