@import "colors.pcss";
@import "fonts.pcss";
@import "transitions.pcss";

.error {
	color: $COLOR_ERROR;
	font: $FONT_IMPORTANT;
}

.md-icon-button:focus {
	box-shadow: inset 0 0 2px 2px $COLOR_FOCUS;
}

p.license {
	font-size: 0.9rem;

	img {
		float: left;
		margin-right: 1em;
	}
}
